.background-color{background-color:lightblue;}
.background-color-plum{background-color: plum;}
.background-color-orange{background-color: orangered;}
.text-color{color:black}

.border-radius{border-radius: 14px;}